    /* regular */
@font-face {
    font-family: 'dejaVuSansMono';
    src: url('DejaVuSansMono-webfont.eot');
    src: url('DejaVuSansMono-webfont.eot?#iefix') format('embedded-opentype'),
         url('DejaVuSansMono-webfont.woff2') format('woff2'),
         url('DejaVuSansMono-webfont.woff') format('woff'),
         url('DejaVuSansMono-webfont.ttf') format('truetype'),
         url('DejaVuSansMono-webfont.svg#dejavu_sans_monobook') format('svg');
    font-weight: normal;
    font-style: normal;
}
    /* bold */
@font-face {
    font-family: 'dejaVuSansMono';
    src: url('DejaVuSansMono-Bold-webfont.eot');
    src: url('DejaVuSansMono-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('DejaVuSansMono-Bold-webfont.woff2') format('woff2'),
         url('DejaVuSansMono-Bold-webfont.woff') format('woff'),
         url('DejaVuSansMono-Bold-webfont.ttf') format('truetype'),
         url('DejaVuSansMono-Bold-webfont.svg#dejavu_sans_monobold') format('svg');
    font-weight: bold;
    font-style: normal;
}
    /* italic */
@font-face {
    font-family: 'dejaVuSansMono';
    src: url('DejaVuSansMono-Oblique-webfont.eot');
    src: url('DejaVuSansMono-Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('DejaVuSansMono-Oblique-webfont.woff2') format('woff2'),
         url('DejaVuSansMono-Oblique-webfont.woff') format('woff'),
         url('DejaVuSansMono-Oblique-webfont.ttf') format('truetype'),
         url('DejaVuSansMono-Oblique-webfont.svg#dejavu_sans_monooblique') format('svg');
    font-weight: normal;
    font-style: italic;
}
    /* bold italic */
@font-face {
    font-family: 'dejaVuSansMono';
    src: url('DejaVuSansMono-BoldOblique-webfont.eot');
    src: url('DejaVuSansMono-BoldOblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('DejaVuSansMono-BoldOblique-webfont.woff2') format('woff2'),
         url('DejaVuSansMono-BoldOblique-webfont.woff') format('woff'),
         url('DejaVuSansMono-BoldOblique-webfont.ttf') format('truetype'),
         url('DejaVuSansMono-BoldOblique-webfont.svg#dejavu_sans_monobold_oblique') format('svg');
    font-weight: bold;
    font-style: italic;
}