:root, body{
    height: 100%;
    margin: 0;
    font-family: "dejaVuSansMono", monospace;
}
@media(prefers-color-scheme: light){
    :root{
        --alabasterGrey: #e6e7e8;
        --carbonBlack: #1c1c1c;
        --trueAzure: #4907AB;
        background-color: var(--alabasterGrey);
        color: var(--carbonBlack);
    }
    header{border-bottom: 1px solid var(--carbonBlack);}
    span{color: var(--trueAzure);}
    a.italicBold{color: #063C60;}
    a.italicBold:visited{color: #4907AB;}
    a.italicBold:hover{text-decoration: none;}
    .bar1,.bar2,.bar3{background-color: var(--trueAzure);}
}
@media (prefers-color-scheme: dark){
    :root{
        --carbonBlack: #1c1c1c;
        --alabasterGrey: #e6e7e8;
        --goldenGlow: #e4d00a;
        background-color: var(--carbonBlack);
        color: var(--alabasterGrey);
    }
    a.italicBold{color: var(--goldenGlow);}
    a.italicBold:visited{color: #BD94F9;}
    header{
        color: var(--goldenGlow);
        border-bottom: 1px solid var(--goldenGlow);
        text-align: right;
    }
    span{color: var(--goldenGlow);}
    .bar1,.bar2,.bar3{background-color: var(--goldenGlow);}
}
.bold{font-weight: bold;}
.italic{font-style: italic;}
.italicBold{
    font-style: italic;
    font-weight: bold;
}
h1{text-align: center;}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .8rem;
 }
    div.menuContainer{
        display: inline-block;
        cursor: pointer;
    }
        .bar1, .bar2, .bar3{
            width: 35px;
            height: 5px;
            margin: 6px 0;
            transition: 0.4s;
        }
        .change .bar1{transform: translate(0, 11px) rotate(-45deg);}
        .change .bar2{opacity: 0;}
        .change .bar3{transform: translate(0, -11px) rotate(45deg);}
